@import "variables";

body {
    background-color: $uxp-body;
    color: #fff;
    font-family: $uxp-font;
}
.uxp-content {
    min-height: 100vh;
}
a, a:hover {
    text-decoration: none;
    color: inherit;
}
.bg-uxp-gray {
    background-color: $uxp-body;
}
.btn-uxp-black {
  --bs-btn-color: #fff;
  --bs-btn-bg: #0A0A0A;
  --bs-btn-border-color: #0A0A0A;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #464646;
  --bs-btn-hover-border-color: #464646;
  --bs-btn-focus-shadow-rgb: 0, 0, 0, 0;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #464646;
  --bs-btn-active-border-color: #464646;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0A0A0A;
  --bs-btn-disabled-border-color: #0A0A0A;
}
.btn-uxp-outline-black {
  --bs-btn-color: white;
  --bs-btn-border-color: white;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: white;
  --bs-btn-hover-border-color: white;
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: white;
  --bs-btn-active-border-color: white;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: white;
  --bs-gradient: none;
}

.uxp-menu {
    .btn-close {
        box-shadow: none
    }
    background: linear-gradient($uxp-deg, $uxp-grad);
    padding-right: 0.15rem;
    .offcanvas-body {
        padding-left: 2rem;
        background-color: #000;
        a {
            display: inline-block;
            transition: all 200ms;
        }
        a:hover svg {
            color: $uxp-blue;
        }
        .links {
            a{
                display: block;
                transition: all 300ms;
                padding-top: 0.75rem;
            }
            a:hover {
                padding-left: 1.5rem;
            }
        }
    }
}

ul.uxp-inline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
        display: inline;
    }
}

.uxp-nm {
    margin: 0;
    padding: 0;
    list-style: none;
}
.hero-banner {
    img {
        padding-top: 0.5rem;
        padding-right: 3.25rem;
        padding-left: 3.25rem;
    }
}
.a-ta {
    .t-here {
        display: inline;
        color: white;
        padding: 0.5rem 2rem;
        border-radius: 50px;
        border: 1px solid white;
    }
    .s-here {
        border: 1px solid white;
        border-radius: 50px;
        padding: 0.5rem 0.65rem;
        display: inline;
        transition: all 200ms !important;
        background: linear-gradient($uxp-deg, $uxp-grad);
    }
    &:hover {
        .t-here {
            background-color: rgb(212, 212, 212);
            color: $uxp-body;
        }
        .s-here {
            border: 1px solid rgb(41, 41, 41);
            background: linear-gradient(20deg, $uxp-grad);
        }
    }
}

.mt-neg {
    margin-top: -11.5rem;
}
.mt-pos {
    padding-top: 9rem;
}

.a-ta {
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
  }
  @media (prefers-reduced-motion: reduce) {
    .a-ta {
      transition: none;
    }
  }


.xp-menu {
    .menu-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;
        border-radius: 5px;
        border: 1px solid white;
    }
    .grad-title {
        background: -webkit-linear-gradient(-90deg, $uxp-grad);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .uxp-card {
        display: block;
        border-radius: 5px;
        padding: 2rem;
        border: 1px solid white;
        img {
            width: 30%;
        }
        position: relative;
        .menu-item {
            right: 0;
            left: 0;
            width: max-content;
            margin: auto;
            position: absolute;
        }
    }
}

.fw-uxp-bolder {
    font-weight: 600;
}